//DB
DATABASE_URL=
DATABASE_POSTGRES_URL=
DATABASE_POSTGRES_PRISMA_URL=
DATABASE_POSTGRES_URL_NON_POOLING=
DATABASE_POSTGRES_PASSWORD=
DATABASE_URL_UNPOOLED=
DATABASE_POSTGRES_HOST=
DATABASE_PGPASSWORD=
DATABASE_POSTGRES_USER=
DATABASE_POSTGRES_URL_NO_SSL=
DATABASE_PGUSER=
DATABASE_PGDATABASE=
DATABASE_PGHOST=
DATABASE_PGHOST_UNPOOLED=
DATABASE_POSTGRES_DATABASE=
DATABASE_NEON_PROJECT_ID=    


// Better Auth
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
TRUSTED_ORIGINS=http://localhost:3000,http://localhost:5173,https://domain.com

// Resend
RESEND_API_KEY=

EMAIL_SENDER_NAME=Team
EMAIL_SENDER_ADDRESS=support@support.com

//resend account for free tier or paid domain name
EMAIL_TO=hello@example.com  
EMAIL_FROM=onboarding@resend.dev

NEXT_PUBLIC_APP_VERSION=1.0.0